

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .formcontent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
</style>

<div class="container">
  <div class="formcontent">
    <h2 class="title">Create A room</h2>
    <form class="registerForm" method="post" action="/room/createRoom">
      <div class="mb-3">
        <label class="form-label">room number</label>
        <input type="text" class="form-control" name="nom" placeholder="Enter room number">
      </div>
      
      <div class="mb-3">
        <label class="form-label">Capacity</label>
        <input type="number" class="form-control" name="capacity" placeholder="Enter capacity">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

