<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Room Reservation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        main {
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="date"],
        input[type="time"],
        input[type="number"],
        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <header>
        <h1>Reserve a Meeting Room</h1>
    </header>
    <main>
        <form action="/reservation/662c9a3b14ad00e230f9170a" method="POST" class="reservation-form">
            <div class="form-group">
                
                <input type="hidden" id="user" name="userId" value="<%= user._id %>">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="reservationDate" required>
            </div>
          
            <button type="submit" class="btn">Submit Reservation</button>
        </form>
    </main>
    <footer>
        <!-- Add footer content if needed -->
    </footer>
</body>
</html>
